html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  box-sizing: border-box;
}

@font-face {
  font-family: "Tilda Sans";
  src: url("../fonts/TildaSans-VF.ttf") format("truetype"), url("../fonts/TildaSans-VF.woff") format("woff"), url("../fonts/TildaSans-VF.woff2") format("woff2");
}
.btn {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  outline: none;
  border: none;
  background: none;
  color: #FFF;
  border-radius: 12px;
}
.btn[disabled] {
  pointer-events: none;
}
.btn.btn-icon {
  justify-content: space-between;
}
.btn-tiny {
  padding: 8px 12px;
  gap: 12px;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: 16px;
}
.btn-tiny.btn-icon {
  padding: 8px;
}
.btn-tiny i:before {
  font-size: 12px;
}
.btn-sm {
  padding: 12px 16px;
  gap: 16px;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 16px;
}
.btn-sm.btn-icon {
  padding: 12px;
}
.btn-sm i:before {
  font-size: 16px;
}
.btn-md {
  padding: 16px 24px;
  gap: 16px;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 16px;
}
.btn-md.btn-icon {
  padding: 16px;
}
.btn-md i:before {
  font-size: 16px;
}
.btn-lg {
  padding: 24px 32px;
  gap: 24px;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 16px;
}
.btn-lg.btn-icon {
  padding: 24px;
}
.btn-lg i:before {
  font-size: 16px;
}

.btn-red {
  color: #fff;
  background-color: #8D191D;
  transition-property: color, background-color;
  transition-duration: 0.3s;
  transition-timing-function: ease;
}
.btn-red:hover {
  color: #fff;
  background-color: #9a1b20;
}
.btn-red:active {
  color: #ededed;
  background-color: #6f1417;
}
.btn-red:active i:before {
  color: #ededed;
}
.btn-red[disabled] {
  color: #d9d9d9;
  background-color: #4c0d10;
}
.btn-red[disabled] i:before {
  color: #d9d9d9;
}

html, body {
  font-family: "Tilda Sans", serif;
  min-height: 100vh;
  overflow-x: hidden;
  font-feature-settings: "lnum";
  font-style: normal;
}

body {
  min-width: 360px;
}

.input__item {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 100%;
}
.input__item.input_icon {
  position: relative;
}
.input__item.input_icon_left img {
  position: absolute;
  left: 16px;
}
.input__item.input_icon_left .input__container input {
  padding-left: 44px;
}
.input__item label {
  color: #111;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
}
.input__item .input__container {
  width: 100%;
  display: flex;
  align-items: center;
  position: relative;
}
.input__item .input__container input {
  width: 100%;
  display: flex;
  padding: 8px 16px;
  align-items: center;
  gap: 4px;
  align-self: stretch;
  border: none;
  outline: none;
  border-radius: 14px;
  background: var(--black-to-white-white-95, #F2F2F2);
  color: #111;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}
.input__item .input__container input::placeholder {
  font-family: "Tilda Sans", serif;
  color: #999;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

.tab-bar {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  box-shadow: 0px -4px 20px 0px rgba(0, 0, 0, 0.12);
}
.tab-bar__list {
  display: flex;
  padding: 6px 0;
}
.tab-bar__item {
  flex: 1 0 0;
}
.tab-bar__link {
  display: flex;
  flex-direction: column;
  gap: 4px;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}
.tab-bar__link small {
  font-size: 12px;
  line-height: 16px;
  font-weight: 700;
  color: #808080;
}
.tab-bar__link.active small {
  color: #8D191D;
}
.tab-bar__link.active .tab-bar__img svg {
  fill: #8D191D;
}
.tab-bar__img {
  width: 24px;
  height: 24px;
}
.tab-bar__img svg {
  fill: #808080;
}

.select__search {
  display: flex;
  padding: 16px;
  flex-direction: column;
  align-items: flex-start;
  gap: 4px;
  align-self: stretch;
}
.select__header {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px;
}
.select__header img {
  height: 72px;
}
.select__title {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 8px 16px;
  color: #8D191D;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
}
.select__list {
  display: flex;
  padding: 0 16px;
  align-items: flex-start;
  align-content: flex-start;
  gap: 8px;
  align-self: stretch;
  flex-wrap: wrap;
  margin-bottom: 80px;
}
.select__item {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 16px;
}
.select__item .item__letter {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #8D191D;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
  flex-shrink: 0;
}
.select__item .item__city {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 8px;
  color: #111;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}
.select__item .item__city .city__institutes {
  color: #999;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}
.select__item .item__check {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}
.select__button-wrapper {
  position: fixed;
  bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  width: 100%;
  padding: 16px;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #FFF 21.29%);
}
.select__button-wrapper button {
  width: 100%;
}

.map {
  position: relative;
}
.map__topbar {
  display: flex;
  align-items: center;
  gap: 12px;
  position: absolute;
  width: 100%;
  padding: 4px;
  background: #fff;
  box-shadow: 0 0 16px 0 rgba(17, 17, 17, 0.4);
  z-index: 1;
  color: #111;
  font-size: 18px;
  font-weight: 700;
  line-height: 20px;
}
.map__search {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 8px;
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 16px;
}
.map__search .input__item {
  border-radius: 14px;
  box-shadow: 0px 0px 16px 0px rgba(17, 17, 17, 0.4);
}
.map__search button {
  box-shadow: 0px 0px 16px 0px rgba(17, 17, 17, 0.4);
}
.map__institute {
  position: absolute;
  width: 100%;
  border-radius: 17px 17px 0px 0px;
  overflow: hidden;
  background: #fff;
  bottom: 0;
}
.map__institute-wrapper {
  z-index: 2;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: var(--background, rgba(19, 42, 62, 0.5));
  backdrop-filter: blur(2px);
}
.map__institute img {
  width: 100%;
  max-height: 202px;
}
.map__institute-content {
  padding: 16px;
}

/*# sourceMappingURL=style.css.map */
