@mixin btn($name, $background-color) {
  .btn-#{$name} {
    color: #fff;

    background-color: $background-color;
    transition-property: color, background-color;
    transition-duration: .3s;
    transition-timing-function: ease;
    &:hover {
      color: #fff;
      background-color: lighten($background-color, 3%);
    }
    &:active {
      color: darken(#fff, 7%);
      i {
        &:before {
          color: darken(#fff, 7%);
        }
      }
      background-color: darken($background-color, 7%);
    }
    &[disabled] {
      color: darken(#fff, 15%);
      i {
        &:before {
          color: darken(#fff, 15%);
        }
      }
      background-color: darken($background-color, 15%);
    }
  }
}