.catalogue{

  //Header start

  &-header{
    box-shadow: 0 4px 24px 0 rgba(0, 0, 0, 0.12);

    //Header-info start

    &__info{
      display: flex;
      justify-content: space-between;
      padding: 8px 16px;

      &-geo,&-phone{
        padding: 8px 0;
        display: flex;
        align-items: center;
        gap: 4px;
        text-decoration: none;
        color: #8D191D;
        font-size: 12px;
        font-weight: 400;
        line-height: 16px;
      }
    }

    //Header-info end



    //Header-stories start

    &__stories{
      display: flex;
      gap: 12px;

      padding: 8px 16px;

      overflow-x: scroll;
      &::-webkit-scrollbar{
        display: none;
      }

      &__item{
        display: flex;

        min-width: 80px;
        height: 96px;

        border-radius: 12px;
        border: 2px solid #FDCB3D;
        background: url(../../../assetss/images/stories/stories.png);


        &-title{
          display: flex;
          align-items: flex-end;
          padding: 0 8px 8px 8px;
          width: 64px;

          color: #8D191D;
          font-size: 10px;
          font-weight: 600;
          line-height: 12px;
        }
      }
    }

    //Header-stories end



    //Header-tabs start

    &__tabs{

      &__items{
        display: flex;
        overflow-x: scroll;
        &::-webkit-scrollbar{
          display: none;
        }

        &-item{
          display: flex;
          flex-direction: column;
          justify-content: flex-start;
          align-items: center;
          padding: 20px 15px;
          gap: 7px;
          text-decoration: none;

          &-icon{
            width: 36px;
            height: 36px;

            & svg{
              fill: #333333;
            }
          }

          &-title{
          color: #333;
          font-size: 11px;
          font-weight: 400;
          line-height: normal;
          text-align: center;
          max-width: 51px;
          }

          hr{
            display: none;
          }

          &.active{
            padding: 12px 12px 0 12px;

            .catalogue-header__tabs__items-item-icon{
              display: flex;
              justify-content: center;
              align-items: center;

              width: 60px;
              height: 60px;
              border-radius: 15px;
              background: #8D191D;

              & svg{
                width: 36px;
                height: 36px;
                fill: #fff;
              }
            }

            .catalogue-header__tabs__items-item-title{
              display: flex;
              flex-direction: column;
              justify-content: center;
              align-items: center;
              gap: 8px;
              color: #8D191D;
              font-size: 13px;
              font-weight: 700;
              line-height: normal;

              hr{
                display: block;
                margin-block-end: 0;
                width: 100%;
                height: 0;
                border: none;
                border-top: 1px solid #8D191D;
                border-radius: 5px;
              }
            }
          }
        }
      }
    }

    //Header-tabs end

  }

  //Header end


  //Content start

  &-content{
    padding: 16px 16px 72px 16px;

    //Content-cards start

    &__cards{
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      flex-wrap: wrap;
      justify-content: center;
      gap: 8px;

      &__card{
        display: flex;
        flex-direction: column;
        flex: 1 1 0;
        width: 100%;
        min-width: 160px;

        border-radius: 17px;
        background: #FFF;
        box-shadow: 0 4px 24px 0 rgba(0, 0, 0, 0.12);

        &-img{
          position: relative;
          width: 100%;
          display: flex;
          align-self: center;
          justify-content: center;
          height: 160px;

          img{
            border-radius: 17px 17px 0 0;
            width: 160px;
            height: 160px;

            .ended &{
              opacity: 0.4;
            }
          }
        }

        &-sale{
          display: none;

          .sale &{
            display: flex;
            justify-content: center;
            align-items: center;
            position: absolute;
            left: 4px;
            bottom: 4px;
            padding: 0 2px;
            transform: rotate(-5deg);
            border-radius: 4px;
            background: #8D191D;
            color: #FFF;
            font-size: 14px;
            font-weight: 700;
            line-height: 16px;
          }
        }

        &.ended {
          pointer-events: none;
          .catalogue-content__cards__card-sale {
            opacity: .4;
          }
        }

        &-ended{
          display: none;

          .ended &{
            display: flex;
            justify-content: center;
            align-items: center;

            position: absolute;

            left: 25px;
            bottom: 55px;
            padding: 4px;

            transform: rotate(-10deg);

            border-radius: 8px;
            background: #FDCB3D;
            color: #111;
            text-align: center;
            font-size: 18px;
            font-weight: 700;
            line-height: 20px;
          }
        }

        &__content{
          display: flex;
          flex-direction: column;
          gap: 4px;

          padding: 8px 8px 0 8px;

          &-title{
            color: #111;
            font-size: 14px;
            font-weight: 700;
            line-height: 16px;

            .ended &{
              color: #BFBFBF;
            }
          }

          &__info{
            display: flex;
            justify-content: space-between;
            align-items: center;

            &-weight{
              color: #B3B3B3;
              font-size: 14px;
              font-weight: 400;
              line-height: 16px;

              .ended &{
                color: #BFBFBF;
              }
            }

            &-cost{
              .ended &{
                opacity: .4;
              }
              display: flex;
              align-self: center;
              gap: 4px;
              color: #8D191D;
              font-size: 18px;
              font-weight: 700;
              line-height: 16px;

              .ended &{
                color: #BFBFBF;
              }

              span {
                position: relative;
                color: $c-black;
                font-size: 14px;
                font-style: normal;
                font-weight: 400;
                line-height: 16px;
                &:after {
                  position: absolute;
                  content: '';
                  left: 0;
                  top: 50%;
                  transform: rotate(-15deg) translateX(5%);
                  width: 100%;
                  height: 2px;
                  background: $c-red;
                }
              }
            }
          }
        }

        &__button{
          display: flex;
          flex-direction: column;
          flex: 1 1 0;
          justify-content: flex-end;

          padding: 8px;

          a{
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 4px;

            text-decoration: none;

            padding: 4px;

            color: #8D191D;
            font-size: 14px;
            font-weight: 600;
            line-height: 20px;

            border: none;
            border-radius: 12px;
            background: #E6E6E6;

            & svg{
              width: 16px;
              height: 16px;
              fill: #8D191D;
            }

            .ended &{
              color: #BFBFBF;
              background: #F2F2F2;

              svg{
                fill: #BFBFBF;
              }
            }
          }
        }
      }
    }

    //Content-cards end

  }

  //Content end

}

.product {
  &__modal {
    &-buttons {
      display: flex;
      width: 360px;
      padding: 8px 16px;
      align-items: center;
      gap: 8px;
      background: #fff;
      box-shadow: 0px -4px 20px 0px rgba(0, 0, 0, 0.12);
      button {
        width: 100%;
      }
      .input__counter {
        width: 100%;
      }
    }
    &-content {
      display: flex;
      flex-direction: column;
      overflow-y: auto;
      svg {
        z-index: 1;
      }
    }
    &-desc {
      padding: 8px 16px;
    }
    &-close {
      position: absolute;
      right: 4px;
      top: 4px;
    }
    &-img {
      position: relative;
      display: flex;
      align-self: center;
      justify-content: center;
    }
    &-discount {
      display: flex;
      transform: rotate(-5deg);
      padding: 0px 2px;
      justify-content: center;
      align-items: center;
      gap: 4px;
      position: absolute;
      left: 16px;
      bottom: 16px;
      border-radius: 4px;
      background: $c-red;

      color: #fff;
      text-align: center;
      font-size: 32px;
      font-style: normal;
      font-weight: 700;
      line-height: 36px;
    }
    &-header {
      padding: 8px 16px;
      display: flex;
      align-items: center;
      justify-content: space-between;

      &-price {
        display: flex;
        align-items: flex-end;
        gap: 8px;
        flex-shrink: 0;
        .product-oldprice {
          position: relative;
          color: $c-black;
          font-size: 18px;
          font-style: normal;
          font-weight: 400;
          line-height: 24px; /* 133.333% */
          &:after {
            position: absolute;
            content: '';
            left: 0;
            top: 50%;
            transform: rotate(-15deg) translateX(5%);
            width: 100%;
            height: 2px;
            background: $c-red;
          }

        }
        .product-price {
          color: $c-red;
          font-size: 32px;
          font-style: normal;
          font-weight: 700;
          line-height: 36px; /* 112.5% */
        }
      }
    }
    &-additional {
      padding: 8px 16px;
      display: flex;
      flex-direction: column;

      h3 {
        display: flex;
        padding: 8px 0;
        align-items: flex-start;
        gap: 4px;
      }

      .additional-item {
        display: flex;
        justify-content: space-between;
        align-items: center;
        align-self: stretch;

        .input__checkbox {
          width: 100%;
        }
      }
    }
    &-info {
      display: flex;
      flex-direction: column;
      gap: 8px;
      padding: 8px 16px;
      small {
        color: $c-gray;
      }
      &-list {
        display: flex;
        align-items: center;
        gap: 16px;
        .info-item {
          display: flex;
          flex-direction: column;
        }
      }
    }
  }

}