html, body {
  font-family: "Tilda Sans", serif;
  min-height: 100vh;
  overflow-x: hidden;
  font-feature-settings: "lnum";
  font-style: normal;
  & {
    font-family: "Tilda Sans";
  }
}

body {
  min-width: 360px;
}

.d-flex {
  display: flex;
}

.flex-center {
  align-items: center;
}

.flex-column {
  flex-direction: column;
}

.gap {
  &-4 {
    gap: 4px;
  }
  &-8 {
    gap: 8px;
  }
  &-16 {
    gap: 16px;
  }
}

.modal {
  &:not(.react-draggable-dragging) {
    transition: transform ease .3s;
  }
  position: absolute;
  width: 100%;
  bottom: 0;
  &:before {
    position: absolute;
    content: '';
    width: 48px;
    height: 4px;
    background-color: #fff;
    border-radius: 8px;
    left: 50%;
    transform: translateX(-50%);
    top: -12px;
  }
  &__wrapper {
    display: flex;
    flex-direction: column;
    background: #fff;
    overflow: hidden;
    border-radius: 17px 17px 0px 0px;
  }
  &__header {
    display: flex;
    padding: 4px;
    align-items: center;
    align-self: stretch;

    color: $c-black;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 20px;
  }
  &__content {
    display: flex;
    flex-direction: column;
    padding: 16px;
    p {
      color: $c-gray;
      text-align: center;
      font-size: 12px;
      font-style: normal;
      font-weight: 400;
      line-height: 16px;
    }
  }
}