html, body {
  font-family: "Tilda Sans", serif;
  min-height: 100vh;
  overflow-x: hidden;
  font-feature-settings: "lnum";
  font-style: normal;
}

body {
  min-width: 360px;
}

.input__item {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 100%;

  &.input_icon {
    position: relative;
    &_left {
      img {
        position: absolute;
        left: 16px;
      }
      .input__container {
        input {
          padding-left: 44px;
        }
      }
    }
  }

  label {
    color: $c-black;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 20px;
  }

  .input__container {
    width: 100%;
    display: flex;
    align-items: center;
    position: relative;

    input {
      width: 100%;
      display: flex;
      padding: 8px 16px;
      align-items: center;
      gap: 4px;
      align-self: stretch;

      border: none;
      outline: none;
      border-radius: 14px;
      background: var(--black-to-white-white-95, #F2F2F2);

      color: $c-black;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 24px;

      &::placeholder {
        font-family: "Tilda Sans", serif;
        color: $c-gray;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px;
      }
    }
  }
}

.select {
  &__search {
    display: flex;
    padding: 16px;
    flex-direction: column;
    align-items: flex-start;
    gap: 4px;
    align-self: stretch;
  }
  &__header {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 16px;

    img {
      height: 72px;
    }
  }
  &__title {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;

    padding: 8px 16px;

    color: $c-red;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 20px;
  }
  &__list {
    display: flex;
    padding: 0 16px;
    align-items: flex-start;
    align-content: flex-start;
    gap: 8px;
    align-self: stretch;
    flex-wrap: wrap;
    margin-bottom: 80px;
  }
  &__item {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 16px;

    .item {
      &__letter {
        width: 40px;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;

        color: $c-red;
        font-size: 16px;
        font-style: normal;
        font-weight: 700;
        line-height: 20px;
        flex-shrink: 0;
      }
      &__city {
        width: 100%;
        display: flex;
        align-items: center;
        gap: 8px;

        color: $c-black;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 20px;
        .city {
          &__institutes {
            color: $c-gray;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 20px;
          }
        }
      }
      &__check {
        width: 40px;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-shrink: 0;
      }
    }
  }
  &__button {
    &-wrapper {
      position: fixed;
      bottom: 0;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 8px;
      width: 100%;
      padding: 16px;
      background: linear-gradient(180deg, rgba(255, 255, 255, 0.00) 0%, #FFF 21.29%);
      button {
        width: 100%;
      }
    }
  }
}